
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br/>

<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("DrugUnits", "DrugUnits", "Drugs")</li>
    <li>@Html.ActionLink("...", "...", "Drugs")</li>
</ul>