@{
    ViewBag.Title = "Home Page";
}
<pre>
1.	Create the database using the following naming convention: “firstName.lastName”. If you need to, add the additional necessary columns and/or tables. Pick the best options for the data types.

2.	Create an SQL script to insert at least 2 countries (Romania and United States of America), at least 2 depots, at least 2 drug types and 100 drug units. Don’t associate the drug units to any depots from this script. Run it to populate the database and save it to the desktop as “firstName.lastName.SQL”.

3.	Create a new web application in Visual Studio and connect to the created database from it. (Using Entity Framework is a bonus)

4.	Create a page where drug units can be associated/disassociated from a depot

5.	Create a web page in the application that displays each depot and all the drug units from that depot. The columns that you should display in the table are Depot Name, Country Name, Drug Type Name, Drug Unit Id and Pick Number. Please display the depots even if they don’t have any drug unit associated. In that case you can display the null fields (the drug related fields) however you like (null, empty etc).

6.	Create a page where you can select a depot and enter for each drug type the number of drug units wanted and then calculate which drug units would be picked for sending from the depot
</pre>

@*
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
*@