@model DrugsSystem.WebUI.Models.DrugUnitWithDepot.DrugUnitsViewModel
@{
    ViewBag.Title = "DrugUnits";
}

<h2>DrugUnits</h2>

@foreach (var v in Model.DrugUnits)
{
    <li>@v.DrugUnitID</li>
    <li>@v.PickNumber</li>
}